<!DOCTYPE html>
<html>
<head>
    <title>Información del Usuario</title>
    <link rel="stylesheet" type="text/css" href="/css/principal.css">
</head>
<body>
    <div class="header">
        <h1>Bienvenido(a) <%= nombres %> <%= apellidoPaterno %> <%= apellidoMaterno %></h1>
    </div>

    <div class="container">
        <h2>Información del Usuario</h2>
        <p><strong>Nombres:</strong> <%= nombres %></p>
        <p><strong>Apellidos:</strong> <%= apellidoPaterno %> <%= apellidoMaterno %></p>
        <p><strong>Cargo:</strong> <%= cargo %></p>
        <p><strong>Rol:</strong> <%= rol %></p>

        <!-- Aquí puedes agregar más contenido o opciones para ejecutar -->
    </div>
</body>
</html>
