<!DOCTYPE html>
<html>
<head>
    <title>Información del Usuario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 40px;
        }

        h1 {
            color: #fff;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

        p {
            margin: 10px 0;
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Bienvenido(a) <%= nombres %> <%= apellidoPaterno %> <%= apellidoMaterno %></h1>
    </div>

    <div class="container">
        <h2>Información del Usuario</h2>
        <p><strong>Nombre:</strong> <%= nombres %></p>
        <p><strong>Apellido:</strong> <%= apellidoPaterno %> <%= apellidoMaterno %></p>
        <p><strong>Cargo:</strong> <%= cargo %></p>
        <p><strong>Rol:</strong> <%= rol %></p>

        <!-- Aquí puedes agregar más contenido o opciones para ejecutar -->
    </div>
</body>
</html>
