<!DOCTYPE html>
<html>
<head>
    <title>Información del Usuario</title>
    <link rel="stylesheet" type="text/css" href="/css/principal.css">
    <link rel="stylesheet" type="text/css" href="/css/visualizar-asistencia.css">
</head>
<body>
    <div class="header">
        <h1>Bienvenido(a) <%= nombres %> <%= apellidoPaterno %> <%= apellidoMaterno %></h1>
    </div>

    <div class="container">
        <h2>Información del Usuario</h2>
        <p><strong>Nombres:</strong> <%= nombres %></p>
        <p><strong>Apellidos:</strong> <%= apellidoPaterno %> <%= apellidoMaterno %></p>
        <p><strong>Cargo:</strong> <%= cargo %></p>
        <p><strong>Rol:</strong> <%= rol %></p>
    </div>

    <!-- Botones -->
    <div class="buttons">
        <a href="/asistencia/read" class="view-attendance-button">Visualizar Asistencia</a>
        <form action="/logIn" method="post">
            <input class="logout-button" type="submit" value="Cerrar Sesión">
        </form>
    </div>
</body>
</html>
