<!DOCTYPE html>
<html>
<head>
    <title>Trabajadores</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: Arial, sans-serif;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <h1>Listado de Trabajadores</h1>
    <table>
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha de Nacimiento</th>
                <th>Cargo</th>
                <th>Rol</th>
                <th>Número</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < arrayTrabajador.length; i++) { %>
                <tr>
                    <td><%= arrayTrabajador[i].rut %></td>
                    <td><%= arrayTrabajador[i].nombres %></td>
                    <td><%= arrayTrabajador[i].apellidoPaterno %></td>
                    <td><%= arrayTrabajador[i].apellidoMaterno %></td>
                    <td><%= arrayTrabajador[i].fecha %></td>
                    <td><%= arrayTrabajador[i].cargo %></td>
                    <td><%= arrayTrabajador[i].rol %></td>
                    <td><%= arrayTrabajador[i].numero %></td>
                    <td><%= arrayTrabajador[i].correoElectronico %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
